button {
	font-size: 16px;
	border: none;
	padding: 0.5rem 1rem;
	background-color: $dark-blue;
	color: white;
	font-family: 'BentonSans-Md';
	margin-top: 1rem;
	margin-bottom: 1rem;
	cursor: pointer;
}
