$dark-blue: #002663;
$dark-azur-2: #005691;
$blue: #001b96;
$azur: #009bbb;
$dark-azur: #006890;
$light-azur: #90d7e7;
$light-azur-2: #e0f2fa;
$gray: #8b8d8e;
$gray-2: #c8c8c8;
$light-gray: #f3f3f3;
$light-gray-2: #d1d6db;
$light-gray-3: #e8ebee;
$dark-gray: #343434;
$dark-gray-2: #242424;
$dark-grey-3: #4d4f53;
$black: #000000;
$light-black: #222;
$white: #fff;
$error-red: #a23e1f;
$light-red: #f5ece9;
